tp-slider {
	display: block;
}

tp-slider-track {
	display: block;
	overflow-y: visible;
	overflow-x: clip;
	position: relative;
}

tp-slider-slides {
	position: relative;
	display: flex;
	align-items: flex-start;

	tp-slider:not([resizing="yes"]) & {
		transition-duration: 0.6s;
		transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}
}

tp-slider-slide {
	flex: 0 0 100%;
	scroll-snap-align: start;

	tp-slider[flexible-height="yes"]:not([initialized]) &:not(:first-child) {
		display: none;
	}
}

tp-slider-nav {
	display: flex;
	gap: 10px;
}

tp-slider-nav-item {
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	background-color: #ccc;
}

tp-slider-arrow {
	display: inline-block;
	padding: 10px 20px;
	background-color: #ccc;
	cursor: pointer;
}
