tp-phone-input {
	display: block;
	position: relative;
}

tp-phone-input-countries {
	display: block;
}

tp-phone-input-country-list {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	z-index: 1000;
	max-height: 200px;
	overflow-y: auto;
}

tp-phone-input[open="yes"] tp-phone-input-country-list {
	display: block;
}

tp-phone-input-search {
	display: block;
}

tp-phone-input-country {
	display: block;
}

tp-phone-input-flag {
	display: inline-block;
}

tp-phone-input-input {
	display: block;
}

tp-phone-input-phone-code {
	display: inline-block;
}
