

tp-carousel-slides {
    overflow-y: visible;
	overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    scrollbar-width: none;
}

tp-carousel-slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
}
